// .about {

// }

// .about__logo {

// }

// .about__share {

// }

// @media (min-width: $tablet-width) {

// }

@media (min-width: $desktop-width) {
  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about__wrap {
    width: 48%;
  }

  .page.about__wrap {

    & p {
      width: 100%;
      margin-left: 0;
    }
  }
}