// .blog {}
.blog__page {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 165px;
    height: 3px;
    background-color: $black;

    @media (min-width: $tablet-width) {
      width: 250px;
    }
  }
  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    &::after {
      display: none;
    }
  }
  @media (min-width: $desktop-width) {
  padding-top: 20px;
}
}

// @media (min-width: $tablet-width) {

// }

