.cover {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover a {
  width: 200px;
  display: block;
  margin: 0 auto;
  transition: 0.4s;
  cursor: pointer;
}

.cover img {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .cover a {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .cover a {
    width: 400px;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}