@font-face {
  font-family: 'aestetikazimir';
  src: url('../fonts/aestetikazimir-bold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'aestetikazimir';
  src: url('../fonts/aestetikazimir-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'aestetikazimir';
  src: url('../fonts/aestetikazimir-medium.woff') format('woff');
  font-weight: 500;
  font-style: medium;
}

html,
body {
  box-sizing: border-box;
  max-width: 100%;
  min-width: $mobile-width;
  overflow-x: hidden;
  @include text;
}

header,
main,
footer {
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 25px;
    width: 760px;
    margin: 0 auto;
  }
}

a {
  text-decoration: none;
  @include text;
}

hr {
  max-width: 165px;
  height: 3px;
  background-color: $black;
  border: none;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    max-width: 250px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  @include visually-hidden;
}