.grants {
  padding-top: 50px;
}

.grants__page.page {
  & h2 {
    margin-bottom: 60px;
  }
}

// @media (min-width: $tablet-width) {

// }

@media (min-width: $desktop-width) {
  .grants__page.page {
    & h2 {
      width: 635px;
      margin: 0;
      margin-bottom: 60px;
      font-size: 62px;
      line-height: 50px;
    }
  }
}
