
.logo-list {
  margin: 0;
  padding: 0;
  width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.logo-list__item {
  margin-bottom: 20px;
  text-align: center;
  list-style: none;
  opacity: 1;
  transition: 0.4s;
  cursor: pointer;

  &:hover, 
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
.logo-list__item--cem {
  width: 100%;
  height: 30px;
  
  & img {
   height: 100%;
  }
}
.logo-list__item--vac {
  width: 130px;
  
  & img {
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .logo-list {
    justify-content: flex-start;
  }

  .logo-list__item--cem {
    text-align: left;
    width: 120px;
  }
}
