.logo {
  height: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.logo__link {
  width: 100%;
  transition: 0.4s;

  & img {
    width: 100%;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {

  .logo {
    width: 100%;
    align-items: center;
  }

  .logo__link {
    width: 460px;
  }
}

// @media (min-width: $desktop-width) {

// }