.main-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &--close {
    .main-nav__wrap {
      display: flex;
      opacity: 0;
      pointer-events: none;
    }

    .main-nav__menu-btn {
      &::before {
        animation: btn-close-before 0.4s forwards;
      }

      &::after {
        animation: btn-close-after 0.4s forwards;
      }
    }
  }

  &--open {
    .main-nav__wrap {
      display: flex;
      pointer-events: auto;
    }

    .main-nav__menu-btn {
      &::before {
        animation: btn-open-before 0.4s forwards;
      }

      &::after {
        animation: btn-open-after 0.4s forwards;
      }
    }

    .main-nav__logo {
      &::before {
        background-color: transparent;
      }
    }
  }
}

.main-nav__menu-btn {
  height: 36px;
  width: 36px;
  position: relative;
  background-color: transparent;
  border: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $black;
    height: 2px;
  }

  &::before {
    width: 36px;
    right: 0;
    top: 0;
    transform: none;
  }

  &::after {
    width: 36px;
    top: 100%;
    right: 0;
    box-shadow: 0 -18px 0 $black;
    transform: none;
  }
}

.main-nav__logo {
  position: relative;
  width: 250px;
  padding-bottom: 5px;
  margin-top: -6px;
  font-weight: 700;
  font-size: 10px;
  line-height: 13px;
  background-color: $white;
  text-align: left;
  cursor: pointer;

  &::before {
    @include black-line;
    bottom: 0;
    left: 0;
    width: 250px;
    transition: 0.4s;
  }

  h1 {
    width: 180px;
    padding: 0;
    margin: 0;
  }
}

.main-nav__wrap {
  width: 300px;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: 0.4s;
  position: absolute;
  top: 35px;
  left: 0;
  background-color: $white;
}

.main-nav__list {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: $white;
}

.main-nav__form {
  width: 36px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 3px;

  & label {
    padding-bottom: 1px;
    height: 24px;
    text-align: center;
    cursor: pointer;
    opacity: 1;
    border-bottom: 2px solid $black;

    &:hover, 
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    & img {
      height: 100%;
    }
  }

  & input {
    position: absolute;
    top: -37px;
    left: 0;
    width: 250px;
    height: 39px;
    border: none;
    border-bottom: 2px solid $black;
    @include text-nav;
    padding-top: 16px;
    padding-right: 25px;
    transition: 0.4s;
    opacity: 1;
    pointer-events: auto;
    outline: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: -18px;
    left: 230px;
    width: 20px;
    height: 20px;
    background-image: url(../img/icon-enter.svg);
    background-repeat: no-repeat;
    background-position: 0;
    z-index: 1;
    transition: 0.4s;
    opacity: 1;
  }

  &--close {
    & input {
      pointer-events: none;
      opacity: 0;
    }
  
    &::before {
      opacity: 0;
    }
  }
}

.main-nav__item {
  position: relative;
  width: 122px;
  background-color: $white;
  padding: 0;
  margin: 0;
  padding-top: 10px;

  &::after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 122px;
    height: 2px;
    background-color: $black;
  }

  &:hover, 
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
}

.main-nav__link {
  width: 55px;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: $black;
}

@media (min-width: $desktop-width) {

  .main-nav {
    flex-direction: row;
    &--close {
      .main-nav__wrap {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .main-nav__menu-btn {
    display: none;
  }

  .main-nav__logo {
    margin-top: -2px;
    margin-bottom: 3px;
  }
  
  .main-nav__wrap {
    width: 505px;
    position: static;
  }
  
  .main-nav__list {
    width: 430px;
  }
  
  .main-nav__form {

    & input {
      top: 2px;
      height: 40px;
    }
  
    &::before {
      top: 22px;
    }
  }
  
  .main-nav__item {
    width: 80px;

    &::after {
      width: 108px;
    }
  }
}

///////////////////// Animation ///////////////////////

@keyframes btn-open-before {
  0% {
    right: 0;
    width: 36px;
    top: 0;
    transform: none;
  }

  100% {
    right: -5px;
    width: 50px;
    top: 50%;
    transform: rotate(-45deg);
  }
}

@keyframes btn-open-after {
  0% {
    right: 0;
    width: 36px;
    top: 100%;
    transform: none;
    box-shadow: 0 -18px 0 $black;
  }

  100% {
    right: -5px;
    width: 50px;
    top: 50%;
    transform: rotate(45deg);
    box-shadow: 0 0 0 $black;
  }
}

@keyframes btn-close-before {
  0% {
    right: -5px;
    width: 50px;
    top: 50%;
    transform: rotate(-45deg);
  }

  100% {
    right: 0;
    width: 36px;
    top: 0;
    transform: none;
  }
}

@keyframes btn-close-after {
  0% {
    right: -5px;
    width: 50px;
    top: 50%;
    transform: rotate(45deg);
    box-shadow: 0 0 0 $black;
  }

  100% {
    right: 0;
    width: 36px;
    top: 100%;
    transform: none;
    box-shadow: 0 -18px 0 $black;
  }
}