// .projects {}
// .projects__page {

// }

// @media (min-width: $tablet-width) {

// }

// @media (min-width: $desktop-width) {

// }

@media (min-width: $desktop-width) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .projects__page {
    width: 48%;
  }

  .page.projects__page {

    & p {
      width: 100%;
      margin-left: 0;
    }
  }
}